{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": false,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
