---
import Layout from 'layouts/Layout.astro'
import ColorPalette from 'components/ColorPalette.tsx'
import palettesData from 'utils/palettes.json'

const palettes = palettesData as PaletteCollection
let paletteIndex = Math.floor(Math.random() * palettes.palettes.length)
---

<Layout title='Welcome to Astro.'>
  <main class='container max-w-[800px] p-4 text-xl text-white'>
    <h1 class='mb-5 text-center text-6xl font-bold md:text-4xl'>
      Color palette generator<br />with <span class='text-gradient'>Astro</span>
    </h1>
    <p class='mb-14 text-center'>
      <span class='text-base text-white'>Copy paste hex values to clipboard</span>
    </p>

    <ColorPalette initialIndex={paletteIndex} palettes={palettes.palettes} client:load />
  </main>
</Layout>
